<<<<<<< HEAD
<form action="/cart" method="post">
    <button class="btn" type="submit ">Add to Cart</button>
    <input type="hidden" name = "productId" value="<%= product._id %>">
=======
<form action="/cart" method="post">
    <button class="btn" type="submit ">Add to Cart</button>
    <input type="hidden" name = "productId" value="<%= product._id %>">
>>>>>>> 58dbb0b7dbfef9105531a0ceb479ce8b8c01ca4e
</form>