.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
textarea,
select {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input,
textarea,
select {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
textarea:focus,
select:focus {
    outline-color: #00695c;
}
.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}
.error {
    color: red;
    font-size: bold;
    ;
}